*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-base);
  font-size: var(--fs-md);
  line-height: var(--lh-md);
  color: var(--text-primary);
  background-color: var(--bg-body);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-sm);
}

h1 { font-size: var(--fs-4xl); font-weight: var(--fw-bold); color: var(--text-secondary);}
h2 { font-size: var(--fs-3xl); font-weight: var(--fw-bold); color: var(--text-secondary);}
h3 { font-size: var(--fs-xs); color: var(--text-secondary); font-weight: var(--fw-bold);}
h4 { font-size: var(--fs-xl); }
h5 { font-size: var(--fs-lg); }
h6 { font-size: var(--fs-md); }


p {
  font-size: var(--fs-md);
  line-height: var(--lh-lg);
  color: var(--text-secondary);
}

 
.text-lg {
  font-family: var(--font-base);
  font-size: var(--fs-sm);
  color: var(--text-secondary);
}

.text-sm {
  font-family: var(--font-base);
  font-size: var(--fs-xxs);
  color: var(--text-muted);
}


small,
.text-small {
  font-size: var(--fs-sm);
  line-height: var(--lh-md);
  color: var(--text-muted);
}

.text-xs {
  font-size: var(--fs-xs);
}


.fw-regular { font-weight: var(--fw-regular); }
.fw-medium  { font-weight: var(--fw-medium); }
.fw-semibold{ font-weight: var(--fw-semibold); }
.fw-bold    { font-weight: var(--fw-bold); }


.text-primary   { color: var(--text-primary); }
.text-secondary { color: var(--text-secondary); }
.text-muted     { color: var(--text-muted)!important; }



a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}


button {
  font-family: var(--font-base);
  font-size: var(--fs-xs);
  color: var(--text-btn);
  background-color: var(--text-primary);
  cursor: pointer;
  background: none;
  border: none;
}

.btn-text {
  font-family: var(--font-base);
  font-size: var(--fs-xs);
  color: var(--text-btn);
  background-color: var(--text-primary);
  line-height: var(--lh-sm);
}

img {
  max-width: 100%;
  display: block;
}