 :root {
  
  --font-base: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-heading: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


  --fs-xxs:11px;
  --fs-xs: 12.25px;   
  --fs-sm: 14px; 
  --fs-md: 16px;  
  --fs-lg: 18px;  
  --fs-xl: 21px;   
  --fs-2xl: 24px;  
  --fs-3xl: 30px; 
  --fs-4xl: 36px;  

  
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  
  --lh-sm: 1.25;
  --lh-md: 1.6;
  --lh-lg: 1.75;

  
  --text-primary: #4f46e5;
  --text-secondary: #0f172a;
  --text-muted: #94a3b8;
  --text-btn:#ffffff;

  --bg-body: #F8FAFC;
}