.container{
  /* height: 1636px;
  width: 1120px; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 28px 16px;
  justify-content: center;
}
.cardContainer {
  max-width: 1280px;
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
   
}

 
.cardWrapper {
  display: flex;
  justify-content: center;
}

.noResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 300px;
  width: 100%;
}
 
@media (max-width: 1024px) {
  .cardContainer {
    justify-content: center  ;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
 
@media (max-width: 768px) {
  .cardContainer {
    justify-content: center  ;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }
}

@media (max-width: 576px) {
  .cardContainer {
    justify-content: center  ;
    grid-template-columns: 1fr;
    padding: 16px;
  }
}
