.wrapper{
  background:#f6f7fb;
  min-height:80vh;

  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
    padding: 0;
    border-width: 1px;
    border-radius: 35px;
    overflow:hidden;
    border:none;
}


.leftPanel{
  background:var(--text-primary);
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
}

.leftContent{
  text-align:center;
  padding:40px 20px;
}

.checkIcon{
  width:80px;
  height:80px;
  border-radius:50%;
  background:rgba(255,255,255,0.15);
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:34px;
  margin:auto;
}

.confirmTitle{
  margin-top:20px;
  font-weight:700;
}

.confirmText{
  opacity:0.85;
  margin-bottom:25px;
}

.printBtn{
  border:1px solid rgba(255,255,255,0.5);
  background:transparent;
  color:white;
  padding:8px 18px;
  border-radius:8px;
}

.printBtn:hover{
  background:rgba(255,255,255,0.15);
}


.rightPanel{
  padding:35px;
  background:white;
}


.header{
  display:flex;
  justify-content:space-between;
  margin-bottom:25px;
}

.label{
  font-size:12px;
  color:#888;
  letter-spacing:1px;
}

.value{
  font-weight:600;
}


.shippingBox{
  background:#f9fafc;
  padding:16px;
  border-radius:12px;
  margin-bottom:20px;
}

.sectionTitle{
    font-family: var(--font-base);
    font-size: var(--);
}

.name{
  font-weight:600;
  margin-bottom:2px;
}

.address{
  font-size:14px;
  color:#777;
}

.delivery{
  font-size:13px;
  color:#5b6cff;
  margin-top:6px;
}


.breakdown{
  margin-top:20px;
}

.row{
  display:flex;
  justify-content:space-between;
  margin-bottom:8px;
}

.totalRow{
  display:flex;
  justify-content:space-between;
  border-top:1px solid #eee;
  padding-top:15px;
  margin-top:15px;
  font-weight:600;
}

.totalPrice{
  font-size:22px;
  font-family: var(--font-base);
  color:var(--text-primary);
  font-weight: var(--fw-black);
  font-size: var(--fs-xl);
}

.final {
    font-family: var(--font-base);
    color: var(--text-secondary);
    font-weight: var(--fw-black);
    font-size: var(--fs-s);
}


.buttons{
  margin-top:28px;
  padding-top:21px;
  row-gap:14px;
}

.primaryBtn{
  width:100%;
  font-family: var(--font-base);
  background: var(--text-primary);
  font-size: var(--fs-sm);
  font-weight: var(--fw-black);
  border: none;
  color: #fff;
  padding: 14px 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.primaryBtn:hover{
  opacity:0.9;
}

.secondaryBtn{
  width:100%;
  font-family: var(--font-base);
  font-size: var(--fs-sm);
  font-weight: var(--fw-black);
  color: var(--text-secondary);
  border:1px solid #ddd;
  background:white;
  padding:14px 20px;
  border-radius:10px;
}