.calendarWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f1f5f9;
  padding: 10px 16px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
}

.input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
  color: #334155;
  cursor: pointer;
}

.popper {
  z-index: 9999;
}

.popper :global(.react-datepicker) {
  width: 260px;   /* or 280px if you want more space */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  border-top: 1px solid #e2e8f0;
  background: #ffffff;
  width:100%;
}

.clearBtn,
.thisMonthBtn {
  background: none;
  border: none;
  font-size: 13px;
  font-weight: 500;
  color: #3b82f6;
  cursor: pointer;
  padding: 4px 0;
}

.clearBtn:hover,
.thisMonthBtn:hover {
  text-decoration: underline;
}